# Ignore data and output directories
Cellpose_output/
interactive_quantification_results/

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore Python cache
__pycache__/
*.pyc
